# every folder named vendor will be ignored
vendor
# thanks to the "/" I can ignore the folder wp at the root of the project
/wp
/wp-config.php


/wp-content/*
!/wp-content/
/wp-content/themes/*
!/wp-content/themes
!/wp-content/themes/portfolio


# I am not ignoring new plugin for the form
/wp-content/plugins/*
!/wp-content/plugins
!/wp-content/plugins/portfolio-form